.galleryRow {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  width: 100%;
  margin-bottom: 3rem;
}

.galleryColumn {
  flex: 25%;
  max-width: 25%;
}

.galleryColumn img {
  padding: 2px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .galleryColumn {
    flex: calc(100% / 3);
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .galleryColumn {
    flex: 50%;
    max-width: 50%;
  }
}
